*{
    /* 1rem => 10px 로 하기 위한 필수 작업*/
    font-size: 62.5%;
}

.box1 {
    margin: 3rem; /* 바깥 여백 */
    border-width: 3rem;
    border-style: solid;
    padding: 3rem; /* 안쪽 여백 */
    width: 3rem;
    height: 3rem;
    background-color: red;
}

.box2 {
    margin: 2rem; /* 바깥 여백 */
    border: 0.1rem solid #000; /* 테두리 */
    padding: 1rem; /* 안쪽 여백 */
    width: 10rem;
}

.box3 {
    display: block;
    margin: 2rem;
    border: 0.1rem solid #000;
    line-height: 2rem;
}

.login-container {
    box-sizing: border-box; /* 테두리와 패딩을 포함한 너비 계산 */
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.8rem;
    padding: 2.1rem 2rem 1.8rem; /* 상, 우좌, 하 - 시계 방향*/
    width: 42rem;
    background-color: #fff;
}

.login-info-message {
    margin: 0rem;
    font-size: 1.47rem;
    text-align: center;
    color: #101010;
}

.login-button {
    display: block;
    box-sizing: border-box;
    border: 0.1rem solid rgba(0,0,0,0.06);
    text-align: center;
    margin-top: 1.3rem;
    padding: 1.7rem 0; 
    border-radius: 0.3rem;
    width: 38rem;
    height: 5.8rem;
    background-color: #03c75a;
    color: #fff;
    cursor: pointer;
}

.login-button-naver-text {
    font-size: 1.47rem;
    font-weight: 900;
}

.login-button-text {
    font-size: 1.47rem;
    font-weight: 300;
}

.login-bottom {
    margin-top: 1.6rem;
    text-align: center;
}

.bottom-links {
    font-size: 1.365rem;
    color: #606060;
    cursor: pointer;
}

.div-bar {
    display: inline-block;
    margin: 0.4rem 1.2rem 0;
    width: 0.1rem;
    height: 1.2rem;
    background-color:#d5d6d7;
}