html {
    font-size: 62.5%;
    background-color: #fafafa;
}

div > h1 + p {
    color: red;
}

.buttons {
    & > div {
        box-sizing: border-box;
        border: 0.1rem solid #dbdbdb;
        border-radius: 0.4rem;
        background-color: #fff;
        padding: 0.5rem 1rem;
        width: fit-content;
        /* width 같은 경우는 텍스트가 추가될 수 있으니 
        ,컨텐츠의 크기에 맞게끔 설정 별도의 값을 기입하기 보단 fit-content*/
        cursor: pointer;

        &:hover {
            background-color: #fafafa;
        }

        &:active {
            background-color: #eee;
        }
    }

    & > a {
        box-sizing: border-box;
        border: 0.1rem solid #dbdbdb;
        border-radius: 0.4rem;
        background-color: #fff;
        padding: 0.5rem 1rem;
        width: fit-content;
        cursor: pointer;
        color: #222;
        text-decoration: none;

        &:hover {
            background-color: #fafafa;
        }

        &:active {
            background-color: #eee;
        }
    }

    /* 
        button 태그 속성 추가
        button 태그는 기본적으로 브라우저에서 제공하는 스타일이 적용되어 있습니다.
        버튼에 스타일링할 때는 기본 스타일을 제거하고
        원하는 스타일을 적용해야 합니다.
        => 버튼의 속성을 초기화하고
        스타일을 적용하는 것이 좋습니다.
    */
    & > button {
        box-sizing: border-box;
        border: 0.1rem solid #dbdbdb;
        border-radius: 0.4rem;
        background-color: #fff;
        padding: 0.5rem 1rem;
        width: fit-content;
        cursor: pointer;
        color: #222;
        text-decoration: none;

        &:hover {
            background-color: #fafafa;
        }

        &:active {
            background-color: #eee;
        }

        &:disabled {
        background-color: red;
        cursor: default;
        }
    }
}

#button2:target {
    width: 10rem;
    height: 10rem;
    background-color: red;
}

.check > input[type="checkbox"] + label {
    color: blue;
}

.check > input[type="checkbox"]:checked + label {
    color: red;
}

.check > input[type="radio"] + label {
    color: red;
}

.check > input[type="radio"]:checked + label {
    color: blue;
}

/*
    :not()
    선택자에서 제외할 요소를 지정할 수 있습니다.
    :not() 선택자는 특정 요소를 제외하고 스타일을 적용할 때 유용합니다.
    특정 클래스나 아이디를 가진 요소를 제외하고 스타일을 적용할 수 있습니다.
*/
.not > input:not(#text2) {
    background-color: green;
}

.menu-list {

    & > li {
        position: relative;
        border: 0.1rem solid #dbdbdb;
        width: fit-content;
        cursor: pointer;

        & > div {
            display: none;
        }

        &:active > div {
            display: block;
            position: absolute;
            top: 0;
            right: -22rem;
            background-color: yellow;
            width: 20rem;
        }
    }
}

.menu-list2 li:nth-of-type(2n-1) {
    color: brown;
}


.menu-list2 > li::before {
    content: "menu ";
    border: 0.1rem solid #dbdbdb;
    color:pink
}

.menu-list2 > li::after {
    content: " -> ";
}